<div class="flash">
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Your Snippets</h1>

    <% @snippets = Snippet.where(user_id: "#{params[:id]}")  %>
    <% if @snippets.count > 0 %>
      <p>Here is the Current list of All Your Snippets</p>
      <% @snippets.each do |snippet| %>
      <div>
         <table>
             <tbody>
             <tr>
             <td width="150">Snippet ID:</td>
             <td width="400"><%=snippet.id%></td>
             </tr>
             <br>
             <tr>
             <td width="150">Snippet Category:</td>
             <td width="400"><%=snippet.snippet_category%></td>
             </tr>
             <br>
             <tr>
             <td width="150">Snippet Name:</td>
             <td width="400"><%=snippet.snippet_name%></td>
             </tr
             <br>
             <td width="150">Snippet Text:</td>
             <td width="400"><%=snippet.snippet_text%></td>
             </tr>
             <tr>
             <td width="210"> <a href="/snippets/<%=snippet.id%>/edit"><button class="btn btn-primary">EDIT</button></a>
             </td>
             <td width="210"><form method="POST" action="/snippets/<%=snippet.id%>/delete"><input type="hidden" name="_method" value="delete"><input type="submit" value="DELETE" class="btn btn-primary">
             </td>
             </tr>
            </tbody>
         </table>
       </div>
          <% end %>
    <% else %>
      <p>You currently do not have any Snippets.</p>
    <% end %><br><br>
      <a href="/snippets/new">Create A New Snippet</a>
     </div>
   </div>
 </div>
